{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Shucookies{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="header-search">
                <form action="{% url 'recipes:search' %}" method="GET">
                    <input type="text" name="q" placeholder="Поиск рецептов..." required>
                    <button type="submit">Искать</button>
                </form>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'categories:categories_list' %}">Категории</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users:profile' %}">Мой профиль</a></li>
                    <li><a href="{% url 'users:profile_edit' %}">Редактировать профиль</a></li>
                    <li><a href="{% url 'users:logout' %}">Выйти</a></li>
                    <p>Вы вошли как: <strong>{{ user.username }}</strong></p>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Войти</a></li>
                    <li><a href="{% url 'users:register' %}">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        © 2025 Shucookies
    </footer>
</body>
</html>
