{% extends 'users/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать на сайт!</h1>

    <h2>Список новых рецептов</h2>
    
    {% for recipe in recipes %}
        <div class="recipe">
            <a href="{% url 'categories:recipe_detail' recipe.id %}">
                <h3>{{ recipe.title }}</h3>
            </a>
            
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" 
                     class="recipe-image" 
                     width="400">
            {% else %}
                <p>Нет изображения</p>
            {% endif %} 
        </div>
    {% endfor %}
{% endblock %}
