{% extends 'users/base.html' %}

{% block title %}Категория: {{ category.name }}{% endblock %}

{% block content %}
    <div class="category-container">
        <li><a href="{% url 'categories:categories_list' %}">Назад к списку категорий</a></li>
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
        <h2>Рецепты в категории ({{ category.recipe_set.count }})</h2>
        
        {% if recipes %}
            <div class="recipe-grid">
                {% for recipe in recipes %}
                    <div class="recipe-item">
                        <a href="{% url 'recipes:recipe_detail' recipe_id=recipe.id %}">{{ recipe.title }}</a>
                        {% if recipe.image %}
                            <img src="{{ recipe.image.url }}" width="400" alt="{{ recipe.title }}" class="recipe-image">
                        {% else %}
                            <p>Нет изображения</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-recipes">В категории нет рецептов</p>
        {% endif %}
    </div>
{% endblock %}


